body {
    font-size: 15px;
}

.form-horizontal .control-label {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 16px;
}

.btn {
    font-size: 15px;
}

input.form-control {
    font-size: 15px;
}

